body{
    height: auto;
}
.nav {
    background-color: aqua;
    height: 30px;
    padding: 10px;
    margin: 1px;
}
.logo {
    height: 40px;
    padding-left: 1px;
    margin-left: 2px;
}
.sp{
   
}
.sec{
   
    display: block;
    padding:30px;
    height: 200px;
}